---
# main css
---

@import "normalize";
@import 'variables';
@import 'syntax';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  font-family: 'Spoqa Han Sans', sans-serif;
  font-size: 17px;
  font-weight: 200;
  color: $body-color;
  background-color: $white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding-left:50px;
  ul{
  padding-left:20px;
  }
}
h2, h3{
  margin-top: 1rem;
  margin-bottom: 1rem; 
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  strong{
        font-weight:800;
}
}

img {
  max-width: 100%;
  margin: auto;
  display: block;
}

blockquote {
  border-left: 5px solid $body-color;
  padding-left: 1.1rem;
  margin-left: 1rem;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: $medium-blue;
}

pre {
  padding: 1rem 2rem;
  overflow-x: auto;

  code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

table {
  min-width: 60%;
  max-width: 100%;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table tbody td {
  font-size: 15px;
}
table thead {
  background: #3333A4;
  background: -moz-linear-gradient(top, #6666bb 0%, #4747ad 66%, #3333A4 100%);
  background: -webkit-linear-gradient(top, #6666bb 0%, #4747ad 66%, #3333A4 100%);
  background: linear-gradient(to bottom, #6666bb 0%, #4747ad 66%, #3333A4 100%);
  border-bottom: 2px solid #444444;
}
table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
table thead th:first-child {
  border-left: none;
}

table tfoot td {
  font-size: 14px;
}
table tfoot .links {
  text-align: right;
}
table tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.wrapper {
  max-width: 1250px;
  position: relative;
  float:left;
}

.post, .article-page {
  background-color: #fff;
}

::-moz-selection {
  background: rgba(38, 57, 89, 0.8);
  color: $white;
}

::selection {
  background: rgba(38, 57, 89, 0.8);
  color: $white;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* - - - - - - - - - - Home Page Styles - - - - - - - - - - */
@import 'home-page';

/* - - - - - - - - - - Post Page Styles - - - - - - - - - - */
@import 'post-page';

/* - - - - - - - - - - Tag Styles - - - - - - - - - - */
@import 'tag';

/* - - - - - - - - - - Media Styles - - - - - - - - - - */
@import 'media';

/* - - - - - - - - - - Media Styles - - - - - - - - - - */
@import 'gist-style';

