---
layout: default
# 홈페이지 게시글 리스트 레이아웃
---
<div class="content-box clearfix">
{% for post in paginator.posts %}
<article class="post">
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.url}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncate: 90 }}</p>
    <span class="post-date">{{post.date | date: '%Y/%m/%d'}}&nbsp;&nbsp;</span>
    <span class="page-tag">
    {% if post.categories.size >1 %}
        <span class="category">&#35; {{ post.categories[1] }}</span>
    {% else %}
        <span class="category">&#35; {{ post.categories[0] }}</span>
    {% endif %}
    {% for tag in post.tags %}
        <span class="tag">{{ tag }}</span>
    {% endfor %}</span>
    </div>
</article>
{% endfor %}

{% include pagination.html %}
</div>