---
layout: main
# 홈페이지 게시글 리스트 레이아웃
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 13 }}</p>
    <span class="post-date">{{post.date | date: '%Y/%m/%d'}}&nbsp;&nbsp;&nbsp;</span>
    <span class="page-tag">
    {% for category in post.categories %}
        <a href="{{site.baseurl}}/categories/{{category}}" class="category">&#35; {{ category }}</a>
    {% endfor %}
    {% for tag in post.tags %}
        <span class="tag">{{ tag }}</span>
    {% endfor %}</span>
    </div>
</article>
{% endfor %}

{% include pagination.html %}
