<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.url}}/"><img
            src="{{site.url}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}"
            alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p><strong>Y</strong>es to <strong>A</strong>mbition!</p>
      <p>Start as <br> Data Engineer </p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <!-- search box -->
    <form action="{{ site.url }}/search">
      <div class="tipue_search_box">
        <img style="margin-left:30px;" src="{{ "/assets/tipuesearch/search.png" | relative_url }}"
          class="tipue_search_icon">
        <input type="text" name="q" id="tipue_search_input" pattern=".{2,}" title="최소 2글자 이상" required></div>
      <div style="clear: both;"></div>
    </form>
    <!-- Category -->
    <section class="main-category">
      <h3 class="title">CATEGORY</h3>
      <ul>
        <li><a href="{{site.url}}/"> All Posts </a> <span class="num">({{site.posts.size}})</span></li>
        <li><a href="{{site.url}}/categories/data"><span class="list-mark">▶</span> Data </a> <span
            class="num">({{site.categories.Data.size}})</span></li>
        <ul>
          <li><a href="{{site.url}}/categories/etl"><span class="list-mark">▶</span> ETL </a> <span
              class="num">({{site.categories.ETL.size}})</span></li>
          <li><a href="{{site.url}}/categories/sql"><span class="list-mark">▶</span> SQL </a> <span
              class="num">({{site.categories.SQL.size}})</span></li>
          <li><a href="{{site.url}}/categories/dataops"><span class="list-mark">▶</span> DataOps </a> <span
              class="num">({{site.categories.DataOps.size}})</span></li>
          <li><a href="{{site.url}}/categories/dataviz"><span class="list-mark">▶</span> DataViz </a> <span
              class="num">({{site.categories.DataViz.size}})</span></li>
        </ul>
        <li><a href="{{site.url}}/categories/dev"><span class="list-mark">▶</span> Dev </a> <span
            class="num">({{site.categories.Dev.size}})</span></li>
        <ul>
          <li><a href="{{site.url}}/categories/devops"><span class="list-mark">▶</span> DevOps </a> <span
              class="num">({{site.categories.DevOps.size}})</span></li>
          <li><a href="{{site.url}}/categories/language"><span class="list-mark">▶</span> Language </a> <span
              class="num">({{site.categories.Language.size}})</span></li>
        </ul>
        <li><a href="{{site.url}}/categories/note"><span class="list-mark">▶</span> Note </a> <span
            class="num">({{site.categories.Note.size}})</span></li>
      </ul>
    </section>
    <!-- TAG CLOUD -->
    <section class="tag-cloud">
      <h3 class="title">TAG Cloud</h3>
      {% for tag in site.tags %}
      {% assign tag_word = tag | first %}
      {% if site.tags[tag_word].size > 4 %}
      <span
        style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">{{tag_word}}&nbsp;</span>
      {% endif %}
      {% endfor %}
    </section>
    <!-- Portfolio -->
    <section class="contact">
      <h3 class="contact-title">Portfolio</h3>
      <ul>
        {% if site.github %}
        <li><a href="https://github.com/{{ site.github }}" target="_blank"><img class="svg-icon"
              src="{{site.url}}/assets/img/svg/github.png" alt="{{site.github}}"></a></li>{% endif %}
        {% if site.wiki %}
        <li><a href="https://github.com/{{ site.wiki }}" target="_blank"><img class="svg-icon"
              src="{{site.url}}/assets/img/svg/wiki.png" alt="{{site.wiki}}"></a></li>{% endif %}
        {% if site.dockerhub %}
        <li><a href="{{ site.dockerhub }}" target="_blank"><img class="svg-icon"
              src="{{site.url}}/assets/img/svg/docker.png" alt="{{site.dockerhub}}"></a></li>{% endif %}
      </ul>
      <div style="font-size:0.65em;text-align:right;">icon &copy; ibrandify</div>
    </section>
    <!-- copyright -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; YaHwang
        {% if site.email %}
        <a href="mailto:{{site.email}}" target="_blank"><img class="svg-icon"
            src="{{site.url}}/assets/img/svg/email.svg" alt="{{site.email}}"></a>{% endif %}
        &nbsp;
        {% if site.rss %}
        <a href="{{site.rss}}" target="_blank"><img class="svg-icon" src="{{site.url}}/assets/img/svg/rss.svg"
            alt="{{site.rss}}"></a>{% endif %}
      </p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->