<aside class="rightsidebar">
    <br>
    <div class="ad1">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 사각 광고1 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7491803682573532"
             data-ad-slot="3919724989"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <br>
    <div class="ad2">
        <ins class="kakao_ad_area" style="display:none;" 
        data-ad-unit    = "DAN-s1036tk6aib4" 
        data-ad-width   = "300" 
        data-ad-height  = "250"></ins> 
        <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
    </div>
    <br>
    <div class="ad3">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 수직 광고1 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-7491803682573532"
            data-ad-slot="8703301895"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <br>
    <div class="ad4">
        <ins class="kakao_ad_area" style="display:none;" 
        data-ad-unit    = "DAN-r1cue7qk4aci" 
        data-ad-width   = "160" 
        data-ad-height  = "600"></ins> 
        <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
    </div>
    <br>
</aside> <!-- End Sidebar -->

