.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  padding: 20px 10px;
  background-color: $white;
}
.about {
  margin: 0 0 40px;
  text-align: center;
  .cover-author-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 10%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
  }
  .author-name {
    font-family: 'Spoqa Han Sans', serif;
    margin: 0 0 10px;
    position: relative;
    padding-bottom: 15px;
    font-size: 40px;
    text-transform: uppercase;
    color: $dark;
    font-weight: 400;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background-color: $body-color;
    }
  }
  p {
    font-size: 20px;
    margin: 0 0 10px;
  }
}
.content-box {
  padding: 20px;
  padding-left: 260px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.contact {
  .contact-title {
    position: relative;
    color: $dark;
    font-weight: 400;
    font-size: 12px;
    margin: 0 0 5px;
    text-transform: uppercase;
    text-align: center;
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: calc(50% - 48px);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      left: 0;
      background-color: $body-color;
    }
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: calc(50% - 48px);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      right: 0;
      background-color: $body-color;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
      a {
        color: $body-color;
        display: block;
        padding: 5px;
        font-size: 18px;
        transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
        &:hover {
          color: $dark;
          transform: scale(1.2);
        }
      }
    }
  }
}

footer {
  .copyright {
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}

.post {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-height: 11rem;
  border-radius: 10px;
  overflow: hidden;
  transition: all .3s ease;
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);
  &:hover {
    transform: translate(0px, -2px);
    box-shadow: 0 15px 45px -10px rgba(10, 16, 34, .2);
  }

  .post-thumbnail {
    width: 30%;
    max-width: 100%;
    min-height: 6rem;
    max-height: 11rem;
    background-size: cover;
    background-position: center;
  }

  .post-content {
    padding: 1rem;
    width: 70%;
    .post-date,
    .post-words {
      font-size: 12px;
    }
    .post-title {
      margin: 0 0 10px;
      font-size: 23px;
      font-weight: 400;
      a {
        font-family: 'Spoqa Han Sans', serif;
        text-decoration: none;
        color: $dark-blue;
      }
    }
    p {
      margin-top: 0;
      font-size: 17px;
      line-height: 1.3;
    }
  }
}

.svg-icon {
  width: 35px;
  height: 35px;
  display: inline-block;
}

a.older-posts, a.newer-posts {
  font-size: 18px;
  display: inline-block;
  color: $body-color;
  transition: transform .2s;
}

a.older-posts:hover {
  transform: translateX(5px);
}

a.newer-posts:hover {
  transform: translateX(-5px);
}

.page-tag {
   a {
    text-decoration: none;
    font-size: 12px;
    padding: 2px 6px;
    margin-left: 5px;
    color: $dark-blue;
    border: 1px solid $dark-blue;
    &:hover {text-decoration: underline;}
  }
}

#pagination {
    margin: 0;
    padding: 33px 0;
    text-align: center;
}

#pagination > li {
    list-style: none;
    display: inline-block;
    height: 30px;
    width: 30px;
    color: #1e1e1e;
    font-size: 22px;
    line-height: 28px; /* 18px = 20(height) - 2(border) */
    vertical-align: middle;
}

/* pagination */

#pagination > li + li {
    margin-left: 10px;
}

#pagination > li.active, #pagination > li:hover {
    background-color: #e6e6e6;
    border-radius: 4px;
}

#pagination > li > a {
    color: #1e1e1e;
    width: 100%;
    height: 100%;
    display:block;
    text-decoration: none;
}

#page-prev {
    background: url(../assets/img/icons/left-arrow.png) no-repeat center;
    background-size: 16px 21px;
}

#page-next {
    background: url(../assets/img/icons/right-arrow.png) no-repeat center;
    background-size: 16px 21px;
}