/* Medium Devices, Desktops */
@media only screen and (max-width : 1200px) {
  .post {
    width: 98%;
    max-width: 100%;
    margin: 0 0.9% 1.5%;
    flex-direction: column;

    .post-thumbnail {
      display: none;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 5px;
        a {
          font-size: 17px;
        }
      }
      p{
        white-space: nowrap;
        width: 600px;
        overflow: hidden;
        text-overflow: ellipsi;      }
    }
  }
  .ad2, .ad3{
    display:none;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 800px) {
  .container{
    margin-left:0px;
  }
  .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);
    .tipue_search_box{
      margin-left:170px;
    }
    footer {
      margin-bottom: 10px;
    }
  }
  .about {
    text-align: center;
    max-width: 480px;
    margin: 10px auto auto;
    img {
      width: 100px;
      height: 100px;
      border-radius: 10%;
      margin-bottom: 10px;
    }
}

  .content-box {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

.tag-cloud, .contact, .copyright{
  display: none;
}
.notelist{
  display:none;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .page-tag, .footer-ad{
    display:none;
  }
  .sidebar{
    .tipue_search_box{
        margin-left:75px;
    }
    .author-name{
      font-size:14px;
    }
    .about p{
      font-size: 12px;
    }
  }
  .content-box {
    padding: 10px;
  }
  .post {
    width: 98%;
    max-width: 100%;
    margin: 2%;
    flex-direction: column;

    .post-thumbnail {
      display: none;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 10px;
        a {
          font-size: 16px;
        }  
      }
      p{
            display: none;
      }
      .page-tag{
        span.tag{
          display:none;
        }
      }
    }
  }
  .article-page{
    max-width: 100%;
    line-height: 1.6;
    }
}
