/* Medium Devices, Desktops */
@media only screen and (max-width : 1600px) {
  .post {
    width: 98%;
    max-width: 100%;
    margin: 0 0.9% 1.5%;
    flex-direction: column;

    .post-thumbnail {
      display: none;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 5px;
        a {
          font-size: 17px;
        }
      }
      p{
        white-space: nowrap;
        width: 600px;
        overflow: hidden;
        text-overflow: ellipsi;      }
    }
  }
  .ad1, .ad2, .ad3, .ad4, .ad5{
    display:none;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 800px) {
  .errorpage{
    margin-left: 10px;
  }
  .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 97%;
    margin: 1%;
    max-width: 800px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);
    .tipue_search_box{
      margin-left:30%;
    }
    .about {
      text-align: center;
      max-width: 480px;
      margin: 10px auto auto;
    }
  }
    footer {
      margin-bottom: 10px;
    }
  
  .page-content{
    margin: 1%;
    max-width: 800px;
  }

  .content-box {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .tag-cloud, .contact, .copyright{
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .page-tag, .footer-ad, .main-category, .tipue_search_box{
    display:none;
  }
  .sidebar{
    padding: 0;
    max-width: 480px;
    header, footer{
      max-width: 97%;
    }
    .author-name{
      font-size:14px;
    }
    .about {
      .cover-author-image {
        width: 60px;
        height: 60px;
        margin: 0 auto;
      }
      img {
        width: 60px;
        height: 60px;
        margin-bottom: 5px;
      }
      
    }
  }
  
  .content-box {
    padding: 0;
    margin: 1%;
    max-width: 480px;
    .article-page{
      line-height:1.5;
      max-width: 97%;
      .wrap-content{
        padding:1%;
      }
    }
  }
  
  .post {
    width: 99%;
    max-width: 100%;
    margin: 1%;
    flex-direction: column;

    .post-thumbnail {
      display: none;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 10px;
        a {
          font-size: 16px;
        }  
      }
      p{
            display: none;
      }
      .page-tag{
        span.tag{
          display:none;
        }
      }
    }
  }
  
  .dataframe{
    table thead th{
      font-size: 12px;
    }
    table tbody td{
      font-size: 11px;
    }
  }

}
