
.wrap-content {
  padding: 20px;
}
.header-page {
  text-align: center;
  margin: 10px 0;
  .page-title {
    font-weight: 800;
    margin: 0 0 10px;
    line-height: 1.2;
  }
  .page-date {
    color: #808080;
    font-weight: 200;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.page-tag {
  span {
    font-size: 12px;
    padding: 5px 10px;
    margin-left: 5px;
    color: $dark-blue;
    border: 1px solid $dark-blue;
  }
}

.page-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 30px;
  margin: 30px 0  ;
  border-bottom: 1px solid $dark-gray;
  .page-share {
    margin-bottom: 10px;
    text-align: left;
    a {
      display: inline-block;
      text-decoration: none;
      background-color: $light-gray;
      border: 1px solid $gray;
      padding: 5px 10px;
      margin-left: 5px;
      color: $dark-blue;
      font-size: 12px;
      transition: background-color .3s;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        background-color: $gray;
      }
    }
  }
}
