.blog-tags {
  width: 100%;
  background-color: $white;
  padding: 0 20px 20px;
  h1 {
    font-size: 30px;
    text-align: center;
    line-height: 1.3;
    color: $dark-blue;
  }
  h2 {
    margin: 10px 0;
      a{
        text-decoration: none;
        color: $dark-blue;
         &:hover {
            text-decoration: underline;
            opacity: .8;
              }
      }  
  }   
}

.tags {
  margin: 0;
  padding: 10px;
  li {
    display: inline-block;
    margin: 5px;
    list-style: none;
    a {
      text-decoration: none;
      color: #323093;
      display: inline-block;
      padding: 2px 10px;
      border: 1px solid $gray;
      background-color: $light-gray;
      transition: all .3s;
      &:hover {
        background-color: $gray;
      }
    }
  }
}

.tag-list {
  line-height: 1.5;  
  font-size: 1.2rem;
  span {
    a {
      text-decoration: none;
      color: $dark-blue;
      &:hover {
        text-decoration: underline;
        opacity: .8;
      }
    }
  }
}

