---
# 카테고리 필터링 레이아웃
---
<!DOCTYPE html>
<html lang="ko">
<head>
{% include google.html %}  
{% include head.html %}
<title>{% if page.category %}{{page.category}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
<meta name="description" content="{{ page.description }}">
<meta property="og:title" content="{% if page.category %}{{page.category}} - {{site.title}}{% else %}{{site.title}}{% endif %}"/>
<meta property="og:url" content="{{ page.url | prepend: site.url }}"/>
<meta property="og:description" content="데이터를 공부합니다"/>
<meta property="og:image" content="https://yahwang.github.io/assets/img/yahwang_logo.png">
</head>  
<body>
<div class="wrapper">
{% include main.html %}
    <div class="content-box clearfix">
    <p class="category" style="margin:5px;">CATEGORY : <span class="selected">{{page.category}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
    {% for post in site.categories[page.category] %}
    <article class="post">
    <div class="post-content">
        <h2 class="post-title"><a href="{{post.url | prepend: site.url}}">{{post.title}}</a></h2>
        <p>{{ post.content | strip_html | truncate: 90 }}</p>
        <span class="post-date">{{post.date | date: '%Y/%m/%d'}}&nbsp;&nbsp;&nbsp;</span>
        <span class="page-tag">
        {% for category in post.categories %}
            <a href="{{site.url}}/categories/{{category | downcase}}" class="category">&#35; {{ category }}</a>
        {% endfor %}
        {% for tag in post.tags %}
            <span class="tag"> {{ tag }}</span>
        {% endfor %}</span>
        </div>
    </article>
    {% endfor %}
    </div>
{% include rightside.html %}
</div>
</body>
</html>
