<!DOCTYPE html>
<html lang="ko">
<head>
{% include google.html %}  
{% include head.html %}
<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
<meta name="description" content="{{ page.description }}">
<meta property="og:title" content="YaHwang 기술블로그"/>
<meta property="og:url" content="https://yahwang.github.io/"/>
<meta property="og:description" content="데이터를 공부합니다"/>
<meta property="og:image" content="{{site.url}}/assets/img/yahwang_logo.png">
</head>  
<body>

  <div class="wrapper">
    {% include main.html %}
    {{ content }}
  </div>
  {% include rightside.html %}
</body>
</html>
