---
# 게시글 레이아웃
---

<!DOCTYPE html>
<html lang="ko">
<head>
{% include google.html %}  
{% include head.html %}
<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
<meta name="description" content="{{ page.description }}">
<meta property="og:title" content="{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}"/>
<meta property="og:url" content="{{ page.url | prepend: site.baseurl }}"/>
<meta property="og:description" content="{{page.description}}"/>
<meta property="og:image" content="/assets/img/{{page.img | prepend: site.baseurl }}">
</head>  

<body>
<div class="wrapper">
{% include main.html %}
  <div class="content-box clearfix">
    <div class ="notelist" style="width:30%">
      {% include notelist.html %}
    </div>
    <div class="postach" style="width:70%">
        <iframe src="{{page.note}}" style="height:100vh;width:70vw" frameborder="0" scrolling="yes" ></iframe>
    </div>
  </div>
</div>
</body>
</html>