---
layout: default
# 메인 왼쪽 레이아웃
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
      <p>데이터와 친해지자</p>  
    </div>
  </header> <!-- End Header -->
  <!-- Contact 화면-->
  <footer>
    <section class="main-tag">
    <h3 class="tag-title"><a href="{{site.baseurl}}/tags"> # Tags</a></h3>
    <p><a href="{{site.baseurl}}/tag/r"> # R</a> <a href="{{site.baseurl}}/tag/python"> # Python</a> <a href="{{site.baseurl}}/tag/tableau"> # Tableau</a></p>
    <p><a href="{{site.baseurl}}/tag/tech"> # Tech</a> <a href="{{site.baseurl}}/tag/project"> # Project</a> <a href="{{site.baseurl}}/tag/report"> # Report</a></p>
    <p><a href="{{site.baseurl}}/ch"> # 트렌드 정보 채널</a></p>
    </section>    
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.email %}
        <li><a href="mailto:{{site.email}}/" target="_blank"><img class="svg-icon" src="{{site.baseurl}}/assets/img/svg/email.svg" alt="{{site.email}}"></a></li>{% endif %}
        {% if site.github %}
        <li><a href="https://github.com/{{ site.github }}" target="_blank"><img class="svg-icon" src="{{site.baseurl}}/assets/img/svg/github.svg" alt="{{site.github}}"></a></li>{% endif %}
        {% if site.dropbox %}
        <li><a href="{{ site.dropbox }}" target="_blank"><img class="svg-icon" src="{{site.baseurl}}/assets/img/svg/dropbox.svg" alt="{{site.dropbox}}"></a></li>{% endif %}
        </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; YaHwang</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
