---
layout: default
# 메인 왼쪽 레이아웃
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
      <p>데이터와 친해지자</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <form action="{{ site.baseurl }}/search">
          <div class="tipue_search_box">
            <img src="{{ "/assets/tipuesearch/search.png" | relative_url }}" class="tipue_search_icon">
            <input type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="최소 3글자 이상" required></div>
          <div style="clear: both;"></div>
    </form>
    <!-- Category --> 
    <section class="main-category">
    <h3 class="title">CATEGORY</h3>
    <ul>
        <li><a href="{{site.baseurl}}/"> All posts </a> <span class="num">({{site.posts.size}})</span></li>
        <li><a href="{{site.baseurl}}/categories/tech"><span class="list-mark">▶</span> Tech </a> <span class="num">({{site.categories.Tech.size}})</span></li>
        <ul>
            <li><a href="{{site.baseurl}}/categories/r"><span class="list-mark">▶</span> R </a> <span class="num">({{site.categories.R.size}})</span></li>
            <li><a href="{{site.baseurl}}/categories/python"><span class="list-mark">▶</span> Python </a> <span class="num">({{site.categories.Python.size}})</span></li>
            <li><a href="{{site.baseurl}}/categories/tableau"><span class="list-mark">▶</span> Tableau </a> <span class="num">({{site.categories.Tableau.size}})</span></li>
        </ul>    
        <li><a href="{{site.baseurl}}/categories/project"><span class="list-mark">▶</span> Project </a> <span class="num">({{site.categories.Project.size}})</span></li>
        <li><a href="{{site.baseurl}}/categories/report"><span class="list-mark">▶</span> Report </a> <span class="num">({{site.categories.Report.size}})</span></li>
    </ul>      
    </section>
    <!-- TAG CLOUD -->  
    <section class="tag-cloud">
            <h3 class="title">TAG Cloud</h3>     
        {% for tag in site.tags %}
            {% assign tag_word = tag | first | slugize %}
        {% if site.tags[tag_word].size > 1 %}
                <span style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">{{ tag_word}}&nbsp;&nbsp;</span>  
        {% endif %}
        {% endfor %}
    </section>  
    <!-- Portfolio -->  
    <section class="contact">
      <h3 class="contact-title">Portfolio</h3>
      <ul>
        {% if site.github %}
        <li><a href="https://github.com/{{ site.github }}" target="_blank"><img class="svg-icon" src="{{site.baseurl}}/assets/img/svg/github.svg" alt="{{site.github}}"></a></li>{% endif %}
        {% if site.dropbox %}
        <li><a href="{{ site.dropbox }}" target="_blank"><img class="svg-icon" src="{{site.baseurl}}/assets/img/svg/dropbox.svg" alt="{{site.dropbox}}"></a></li>{% endif %}
        {% if site.evernoter %}
        <li><a href="{{ site.evernoter }}" target="_blank"><img class="svg-icon" src="{{site.baseurl}}/assets/img/svg/evernote_r.svg" alt="{{site.dropbox}}"></a></li>{% endif %}
        {% if site.evernotepy %}
        <li><a href="{{ site.evernotepy }}" target="_blank"><img class="svg-icon" src="{{site.baseurl}}/assets/img/svg/evernote_py.svg" alt="{{site.dropbox}}"></a></li>{% endif %}
        </ul>
    </section> 
    <!-- copyright -->  
    <div class="copyright">
    <p>{{site.time | date: '%Y'}} &copy; YaHwang 
        {% if site.email %}
        <a href="mailto:{{site.email}}/" target="_blank"><img class="svg-icon" src="{{site.baseurl}}/assets/img/svg/email.svg" alt="{{site.email}}"></a>{% endif %}
    </p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
